dharanidhara_resume.aux
dharanidhara_resume.fdb_latexmk
dharanidhara_resume.fls
dharanidhara_resume.log
dharanidhara_resume.out
dharanidhara_resume.synctex.gz
dharanidhara_resume.tex
Resume_Workspace.code-workspace